body {
  text-align: center;
}

#content {
  border: 2px solid #0f0f0f;
  background: black;
  max-width: 960px;
  border-left: 20px;
  text-align: center;
}

a{
  text-decoration: none;
}
a:visited {
  color: white;
}
#picture a:hover {
  color: #000;
  background: white;
}

.header {
  background-color: #000;
  color: white;
  text-align: center;
  font-family: "Candal", sans-serif;
  max-width: 940px;
  padding: 11px;

}

.footer {
  background-color: #000;
  color: white;
  text-align: center;
  font-family: "Candal", sans-serif;
  max-width: 940px;
  padding: 11px;

}

span {
  position: static;
  height: auto;
  margin: 15px 15px;
  padding: 11px;
}

.navbar {
  background: #0f0f0f;
  margin: 5px 5px;
  padding: 12px;
  max-width: 960px;
  box-shadow: 0px 0px 2px #888888;


}

.navbar ul li{
  list-style: none;
  margin: 0px 15px;
  font-size: 20px;
  display: inline;
}

#content #book1{
  color: #fff;
  font-family: "Caveat Brush", sans-serif;
  font-size: 18px;
  margin: 15px 15px;
  padding: 24px;
  background-color: #0f0f0f;
  box-shadow: 0px 0px 2px #888888;
}
#book1 > #name {
  color: #f88;
}
#content #album1{
  color: #fff;
  font-family: "Caveat Brush", sans-serif;
  font-size: 18px;
  margin: 15px 15px;
  padding: 24px;
  background-color: #0f0f0f;
  box-shadow: 0px 0px 2px #888888;
}
#album1 > #name {
  color: #f88;
}
#content #book2 {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  margin: 15px 15px;
  padding: 24px;
  background-color: #0f0f0f;
  box-shadow: 0px 0px 2px #888888;
}
#content #album2 {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  margin: 15px 15px;
  padding: 24px;
  background-color: #0f0f0f;
  box-shadow: 0px 0px 2px #888888;
}

img {
width: 30%;
height: 30%;

}
